<h2>Edit Student</h2>

<form action="<%= student_path(@student.id) %>" method="post">
  <label>
    Name:
    <input name="name" required value="<%= @student.name %>">
  </label>

  <label>
    Image:
    <input type="url" name="image" value="<%= @student.image %>">
  </label>

  <label>
    Age:
    <input type="number" name="age" value="<%= @student.age %>">
  </label>

  <label>
    Stage:
    <input type="text" name="stage" value="<%= @student.stage %>">
  </label>

  <button>Update student</button>
  </form>