<h1><%= "Student Profile of #{ @student.name }" %></h1>

<%= image_tag @student.image, :class => 'feature' if @student.image.present? %>
<ul>
  <li>Name: <%= @student.name %></li>

  <li>Age <%= @student.age %></li>

  <li>Stage: <%= @student.stage %></li>

  <% @student.programs.each do |program| %>
    <li>Programs: <%= link_to program.stage, program %></li>
  <% end %>

  <% @student.tutors.each do |tutor| %>
    <li>Tutors: <%= link_to tutor.name, tutor %></li>
  <% end %>

</ul>

<div class="controls">
  <%= link_to "Edit #{ @student.name }", edit_student_path(@student) %>
  <%= link_to "Delete #{ @student.name }", @student, :method => 'delete' %>
</div>

