<div class="card" style="width: 25rem;">
  <div class="card-header">
    <h5 class="card-title"><%= "#{ @student.name }" %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Student</h6>
  </div>
      <%= image_tag @student.image, class: 'img-fluid' if @student.image.present? %>

        <div class="card-body">
          <p class="card-text">Email: <%= @student.name %></p>
          <p class="card-text">Stage: <%= @student.age %></p>
          
          <p class="card-text">Tutors(s):</p>
            <% @student.tutors.each do |tutor| %>
              <div class="card-title">
                <li><%= link_to tutor.name, tutor %></li>
              </div>
            <% end %>
        
          <p class="card-text">Currently enrolled in:</p>
            <% @student.programs.each do |program| %>
              <div class="card-title">
                <li><%= link_to program.subject, "/programs/#{program.id}/#{@student.id}" %></li>
              </div>
            <% end %>

          <div class="controls">
            <%= link_to "Edit #{ @student.name }", edit_student_path(@student), :class => "btn btn-secondary btn-sm" %>
            <%= link_to "Delete", @student, :method => 'delete', :class => "btn btn-secondary btn-sm" %>
            <%= link_to 'Back', students_path, :class => "btn btn-secondary btn-sm"  %>
          </div>
        </div>

