<h1><%= "Profile of #{ @student.name }" %></h1>

<%= image_tag @student.image, :class => 'feature' if @student.image.present? %>
<ul>
  <li>Name: <%= @student.name %></li>

  <li>Age <%= @student.age %></li>
  <li>Stage: <%= @student.stage %></li>

  <% @student.tutors.each do |tutor| %>
    <li>Tutors: <%= link_to " Tutor #{ @student.tutors.name }", tutor_path %></li>
  <% end %>


</ul>

<div class="controls">
  <%= link_to "Edit #{ @student.name }", edit_student_path(@student) %>
  <%= link_to "Delete #{ @student.name }", @student, :method => 'delete' %>
</div>
