<h4 class="heading"><%= "Student Profile of #{ @student.name }" %></h4>

<%= image_tag @student.image, class: 'img-fluid' if @student.image.present? %>

<ul>
  <li>Name: <%= @student.name %></li>

  <li>Age: <%= @student.age %></li>

  <% @student.programs.each do |program| %>
    <li>Currently enrol in: <%= link_to program.subject, program %></li>
  <% end %>

  <% @student.tutors.each do |tutor| %>
    <li>Tutors: <%= link_to tutor.name, tutor %></li>
  <% end %>

</ul>

<div class="controls">
  <%= link_to "Edit #{ @student.name }", edit_student_path(@student), :class => "btn btn-secondary btn-sm" %>
  <%= link_to "Delete #{ @student.name }", @student, :method => 'delete', :class => "btn btn-secondary btn-sm" %>
</div>

