
<div class="container">
<h1> List of Articles</h1> 

<%= link_to 'Add a new article', new_article_path %>

<table>
  <tr>
   
        <th>Date</th>
        <th>Title</th>
        <th>Description</th>
     
  </tr>
 
  
    <tr>
  
    <% @articles.each do |article| %>
        <td><%= article.updated_at%></td>
        <td><%= article.title %></td>
        <td><%= article.text.truncate(40) %></td>
        <td><%= link_to 'Read more', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) if @current_tutor.admin? %></td>
        <td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } if @current_tutor.admin? %></td>
        </tr>
  <% end %>
</table>
</div>


