<h2>Edit Tutor</h2>

<form action="<%= tutor_path(@tutor.id) %>" method="put">
  <label>
    Name:
    <input name="name" required value="<%= @tutor.name %>">
  </label>

  <label>
    Email:
    <input type="text" name="email" value="<%= @tutor.email %>">
  </label>

  <label>
    Stage:
    <input type="text" name="stage" value="<%= @tutor.stage %>">
  </label>

  <label>
    Subject:
    <input type="text" name="subject" value="<%= @tutor.subject %>">
  </label>

  <button>Update tutor</button>
  </form>