<h1>Sign Up Form For New Tutors</h1>

<% if @tutor.errors.any? %>
  <ol>
    <% @tutor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @tutor do |f| %>
  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true, :autofocus => true %>
  </fieldset>

  <fieldset>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </fieldset>

  <fieldset>
  <%= f.label :admin %>
  <%= f.check_box :admin %>
  </fieldset>

  <%= f.submit "Sign up as a new tutor now!" %>
<% end %>
