<h4 class="heading"><%= "Tutor Profile of #{ @tutor.name }" %></h4>

<ul>
  <li>Name: <%= @tutor.name %></li>
  <li>Email: <%= @tutor.email %></li>
  <li>Stage: <%= @tutor.stage %></li>
  <li>Subject: <%= @tutor.subject %></li>


  <% @tutor.students.each do |student| %>
    <li>Students: <%= link_to student.name, student %></li>
  <% end %>


</ul>

<div class="controls">
  <%= link_to "Edit #{ @tutor.name }", edit_tutor_path(@tutor), :class => "btn btn-secondary btn-sm"  %>
  <%= link_to "Delete #{ @tutor.name }", @tutor, :method => 'delete', :class => "btn btn-secondary btn-sm"  %>
  <%= link_to 'Back', tutors_path, :class => "btn btn-secondary btn-sm"  %>
</div>
