<h4> Log in </h4>

<% if flash[:error].present? %>
  <h4><%= flash[:error] %></h4>
<% end %>

<%= form_tag login_path do %>
  <fieldset>
  <div class="form-group col-md-4">  
      <%= label_tag :email %>
      <%= email_field_tag :email, nil, :class => 'form-control' %>
  </fieldset>
  </div>

  <fieldset>
  <div class="form-group col-md-4">  
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, :class => 'form-control' %>
  </fieldset>
  </div>

  <%= submit_tag "Sign in", :class => "btn btn-secondary btn-sm" %>
<% end %>
