
<h4> List of Programs</h4> 

<p><%= flash[:notice]%> </p>

<%= link_to 'Add a new Program', new_program_path %>

<table>
  <tr>
           <th>Subjects</th>
        <th>KLAs</th>
  </tr>
 
  
    <tr>

    
        <% @programs.each do |program| %>
          <td><%= program.subject %></td>
        <td><%= program.kla %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Delete', program_path(program), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }%></td>
        </tr>
  <% end %>
</table>


