<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
    <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link m-2 menu-item" %>
        </li>
        <% if @current_tutor.present? %>
            <li class="nav-item">
              <%= link_to "Our Tutors", tutors_path, class: "nav-link m-2 menu-item" %>
            </li>
            <li class="nav-item">
              <%= link_to "Create Tutor", new_tutor_path, class: "nav-link m-2 menu-item" %>
            </li>
            <li class="nav-item">
              <%= link_to "Our Students", students_path, class: "nav-link m-2 menu-item" %>
            </li>
            <li class="nav-item">
              <%= link_to "Create Student", new_student_path, class: "nav-link m-2 menu-item" %>
            </li>
            <li class="nav-item">
              <%= link_to "Our Programs", programs_path, class: "nav-link m-2 menu-item" %>
            </li>
            <li class="nav-item">
              <%= link_to "Our Outcomes", results_path, class: "nav-link m-2 menu-item" %>
            </li>
            <li class="nav-item">
              <%= link_to "Articles", articles_path, class: "nav-link m-2 menu-item" %>
            </li>
              <li class="nav-item"><%= link_to "Sign out #{ @current_tutor.email }", login_path, :method => 'delete', class: "nav-link m-2 menu-item" %>
            </li>
        <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_tutor_path, class: "nav-link m-2 menu-item" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", login_path, class: "nav-link m-2 menu-item" %>
            </li>

        <% end %>
      </ul>
  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-2">
          <img src="http://www.sailprogram.org.au/site/wp-content/uploads/sail_logo-FINAL_02-142x300.png" alt="Sudanese Australian Integrated Learning (SAIL) Program" class="main-image">
        </div>
        <div class="col-10">
          <%= yield %>
        </div>
      </div>  
    </div>
  </body>


</html>
