<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
        <%= link_to "Home", root_path %>
        <% if @current_tutor.present? %>
          <%= link_to "All Tutors", tutors_path if @current_tutor.admin? %>
          <%= link_to "All Students", students_path if @current_tutor.admin? %>
          <%= link_to "Create Student", new_student_path %>
          <%= link_to 'Articles', controller: 'articles' %>
          <%= link_to "Sign out #{ @current_tutor.email }", login_path, :method => 'delete' %>
        <% else %>
          <%= link_to "Sign up", new_tutor_path %>
          <%= link_to "Sign in", login_path %>
        <% end %>
      </nav>
    <%= yield %>
  </body>
</html>
